body {
    font-weight: 400;
    font-family: 'Optima', 'Times','serif';
    font-size: 15px;
    line-height: 2.2em;
    color: #242b36;
    background-color: #332701;
    margin: 0;
}

section {
    margin: 30px;
    padding: 25px;
}

header {
    font-family: 'Optima';
    font-size: 18px;
    color: white;
}

h1 {
    font-size: 62px;
    padding: 25px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #242b36;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #eff4f2;
}

footer {
    margin: 0px;
    padding: 10px;
    color: #500a56;
}

.navbar {
    font-size: 18px;
}

.carousel-inner > .carousel-item > img {
    width:620px;
    height:640px;
  }

  .img-equipe {
    border-radius: 50%;
    width: 200px;
}

.name-team {
    font-family: 'Optima', 'serif';
    color: #500a56;
    font-size: 24px;
}

.text-team {
    font-family: 'sans-serif';
    color: #242b36;
    font-size: 14px;
}


.logo-footer {
    width: 120px;
}

.instagram,
.facebook,
.address,
.telephone {
    text-decoration: none;
    font-family: 'Optima', 'serif';
    color: #500a56;
    font-size: 20px;
}

.instagram i, 
.facebook i,
.address i,
.telephone i {
    font-size: 26px;
    vertical-align: middle;
}